#block_page {
  font-family: Raleway, sans-serif;
}

#main_title {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 95%;
  height: 50px;
  margin: 0px 0px 30px 30px;
  justify-content: space-between;
}

#main_title ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 30px;
  font-size: 16px;
}


#main_title li {
  display: inline-block;
  width: 50%;
  position: relative;
  height: 100%;
  text-align: center;
}
#main_title li
{	
	display: inline-block;
	width: 50%;
	position: relative;
	height: 100%;
	text-align: center;
	border-top: 2px solid transparent;

}

#main_title li:hover {
  border-top: 2px solid #0065fc;
}

#main_title li:hover a {
  color: #0065fc !important;
}

.element1 {
  padding: 30px 50px 0px 10px;
}

.element2 {
  padding: 30px 20px 0px 10px;
}

.elements a {
  color: black;
}

#main_title img {
  object-fit: cover;
  width: 60%;
  margin-top: 10px;
}

a {
  color: black;
}

.research {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 30px;
}
.research input {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 0px;
  padding-left: 10px;
  height: 35px;
  width: 215px;
  margin-top: 15px;
}

.research button {
  font-weight: normal;
  border-radius: 0px 11px 11px 0;
  background-color: #0065fc;
  border: 10px solid transparent;
  height: 35px;
  width: 100px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

.research i {
  border: 3px solid transparent;
  border-radius: 11px 0px 0px 11px;
  background-color: #f2f2f2;
  text-align: center;
  height: 35px;
  width: 50px;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
}
.mglass {
  visibility: hidden;
}
.research1 {
  visibility: hidden;
}

.block_filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 98%;
  align-items: baseline;
  margin: 10px 0px 20px 30px;
}

.filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 50%;
  margin-left: 30px;
  justify-content: space-between;
}

.filters button {
  border-radius: 30px 30px 30px 30px;
  padding-right: 20px;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-left: none;
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.filters button:hover {
  box-shadow: 3px 3px 3px 3px #deebff;
}

.filters i {
  border-radius: 40px 40px 40px 40px;
  border: 4px solid transparent;
  padding: 7px 5px 5px 5px;
  color: #0065fc;
  background-color: #deebff;
  text-align: center;
  height: 100%;
  min-width: 35px;
}

.filters h3 {
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
}

.introduction h1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
}

.introduction p {
  font-size: 13px;
  margin: 10px 0px 0px 30px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  margin: 20px 0px 20px 30px;
  width: 50%;
  font-size: 13px;
}

.info i {
  margin-right: 10px;
  color: #0065fc;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-radius: 40px 40px 40px 40px;
  padding: 4px 5px 6px 5px;
  font-size: 9px;
  height: 20px;
  min-width: 20px;
  text-align: center;
}

#container1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title_box1 {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0px 15px 10px;
  width: 100%;
}

.box1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: 3px solid transparent;
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  padding: 0px 30px 0px 30px;
  width: 65%;
  height: 580px;
  margin: 10px 0px 0px 30px;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 18px 18px 18px 18px;
  margin: 5px 10px 30px 10px;
  height: 182px;
  width: 30%;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.pic {
  width: 100%;
  height: 120px;
}

.pic img {
  width: 100%;
  height: 100%;
  padding: 4px 4px 0px 4px;
  object-fit: cover;

  border-radius: 18px 18px 0px 0px;
}
.frame:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(23, 23, 23, 0.2);
  transform: translateY(-0.25em);
}

.headline {
  padding: 0px 0px 0px 10px;
  font-size: 14px;
}
.price {
  font-size: 12px;
  padding: 0px 0px 2px 10px;
}

.stars {
  color: #0065fc;
  font-size: 10px;
  padding: 0px 0px 4px 10px;
}

.plus {
  font-size: 17px;
  font-weight: bold;
  padding: 0px 0px 5px 5px;
  margin-left: 6px;
}

.plus a:hover {
  color: #0065fc;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 3px solid transparent;
  background-color: #f2f2f2;
  margin: 10px 30px 0px 22px;
  padding: 0px 20px 50px 40px;
  width: 27%;
  height: 580px;
  border-radius: 20px 20px 20px 20px;
}

.title_box2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  width: 95%;
  padding: 15px 0px 16px 10px;
  margin-bottom: 17px;
}

.title_box2 i {
  text-align: right;
  font-size: 20px;
  position: relative;
  height: 100%;
}

.frame2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 18px 18px 18px 18px;
  background-color: white;
  height: 135px;
  width: 85%;
  padding: 2px 0px 2px 2px;
  margin: 0px 0px 30px 10px;
  box-shadow: 0px 0px 10px gray;
}

.pic2 {
  width: 100%;
  height: 130px;
}

.pic2 img {
  height: 130px;
  width: 100%;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 18px 0px 0px 18px;
  padding: 1px 5px 1px 1px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 15px 0px 0px 15px;
}

.headline2 {
  font-size: 14px;
}

.price2 {
  font-size: 12px;
  padding-top: 10px;
}

.stars2 {
  color: #0065fc;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  letter-spacing: 2px;
  padding-top: 35px;
}

.frame2:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(23, 23, 23, 0.2);
  transform: translateY(-0.25em);
}

.container_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 550px;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  padding-right: 12px;
}

.title_box3 {
  width: 100%;
  padding-left: 25px;
  margin: 0px 0px 20px 20px;
  font-size: 12px;
}

.card_1,
.card_3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 91%;
  width: 22%;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid white;
  box-shadow: 0px 0px 10px #f2f2f2;
  border-radius: 18px 18px 18px 18px;
  margin-bottom: 10px;
}
.card_1 {
  margin-left: 30px;
}

.headline3 {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 5px 0px 0px 20px;
}

.card_1 img,
.card_3 img {
  width: 100%;
  height: 435px;
  object-fit: cover;
  border-radius: 18px 18px 0px 0px;
}

.frame4,
.frame5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  border: 1px solid transparent;
  border-radius: 18px 18px 18px 18px;
  box-shadow: 0px 0px 10px #f2f2f2;
}

.frame4 img,
.frame5 img {
  box-shadow: 0px 0px 10px #f2f2f2;
}

.card_2,
.card_4 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 22%;
}

.card_4 {
  margin-right: 30px;
}

.card_2 img,
.card_4 img {
  width: 100%;
  object-fit: cover;
  height: 210px;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px 0px 10px #f2f2f2;
}

.frame4 {
  height: 250px;
}

.frame5 {
  height: 160px;
}

.frame5 img {
  height: 120px;
  box-shadow: 0px 0px 10px #f2f2f2;
}

.card_1:hover,
.card_3:hover,
.frame4:hover,
.frame5:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(23, 23, 23, 0.2);
  transform: translateY(-0.25em);
}

.headline4,
.headline5 {
  font-size: 14px;
  padding-left: 20px;
  padding-top: 50px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  font-family: Raleway, sans-serif;
  margin-top: 60px;
}

.part1,
.part2,
.part3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 90px;
  padding-top: 30px;
  padding-right: 40px;
  margin-right: 5px;
}

.part1 h4,
.part2 h4,
.part3 h4 {
  padding-bottom: 15px;
  font-size: 16px;
  color: black;
}

.part1 li,
.part2 li,
.part3 li {
  padding-bottom: 9px;
  font-size: 14px;
  color: black;
}

.part1 ul,
.part2 ul,
.part3 ul {
  padding-right: 10px;
}

.part1 a:hover,
.part2 a:hover,
.part3 a:hover {
  color: #0065fc;
}

@media only screen and (min-width: 992px) and (max-width: 1500px) {
  .research {
    width: 90%;
  }
  .research input {
    width: 450px;
  }

  .block_filters {
    width: 95%;
  }
  .filters {
    width: 58%;
  }

  .filters button {
    width: auto;
  }

  .filters h3 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 1%;
  }

  .info {
    width: 100%;
  }

  #container1 {
    width: 100%;
    flex-wrap: nowrap;
  }

  .box1 {
    width: 55%;
    height: 800px;
  }

  .frame {
    width: 45%;
  }

  .box2 {
    width: 40%;
    height: 800px;
  }
  .frame2 {
    width: 95%;
  }
  .headline3,
  .headline4,
  .headline5 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .research {
    width: 90%;
    margin-bottom: 10px;
  }

  .block_filters {
    width: 90%;
  }

  .filters {
    width: 90%;
    margin-top: 20px;
    margin-right: 30px;
  }

  .filters_title {
    font-size: 16px;
  }

  .info {
    width: 90%;
  }

  #container1 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .box1 {
    width: 90%;
    height: 800px;
    margin-right: 0px;
    background-color: white;
  }

  .title_box1,
  .title_box3 {
    font-size: 12px;
  }

  .plus {
    font-size: 15px;
  }

  .frame {
    width: 47%;
    height: 200px;
    margin: 5px 1px 20px 1px;
  }

  .stars {
    padding: 0px 0px 8px 10px;
  }

  .box2 {
    width: 100%;
    height: 800px;
    margin: 0px;
    border-radius: 0px;
  }

  .title_box2 {
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 85px;
    height: 30px;
    width: 70%;
  }
  .title_box2 h2 {
    margin-bottom: 0px;
    padding: 0px;
  }

  .title_box2 i {
    font-size: 13px;
    padding-top: 5px;
  }
  .frame2 {
    width: 70%;
    margin: 0px 0px 20px 0px;
    height: 135px;
    margin: 10px 0px 30px 85px;
  }

  .price,
  .price2 {
    font-size: 13px;
  }

  .headline,
  .headline2 {
    font-size: 14px;
  }

  .stars i,
  .stars2 i,
  .stars3 i {
    font-size: 10px;
  }

  .stars2 {
    padding-top: 45px;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 8px 5px 0px 3px;
    height: 100%;
  }

  .headline3,
  .headline4,
  .headline5 {
    font-size: 12px;
  }

  .headline3 {
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }

  .headline4,
  .headline5 {
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767.9px) {
  #block_page {
    margin: 0px 0px 0px 0px;
  }

  #main_title {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: center;
  }

  #main_title img {
    object-fit: cover;
    width: 25%;
    position: relative;
    margin: auto;
    display: block;
    justify-content: center;
  }

  #main_title li {
    display: inline-block;
    width: 50%;
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 14px;
    border-bottom: 2px solid #f2f2f2;
    padding: 15px 0px 8px 20px;
  }

  #main_title li:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 8px;
  }

  #main_title li:hover a {
    color: #0065fc !important;
  }

  .element1 {
    padding-left: 2px;
  }

  .introduction h1 {
    margin: 10px 20px 10px 20px;
  }

  .introduction p {
    margin: 10px 20px 20px 20px;
  }

  .research {
    display: none;
  }
  .resbutton {
    display: none;
  }

  .research1 {
    visibility: visible;
    margin: 0px 30px 10px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    width: 80%;
    padding-bottom: 20px;
  }

  .mglass {
    visibility: visible;
    height: 50px;
  }

  .research1 input {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 0px;
    padding-left: 10px;
    height: 34px;
    width: 90%;
    margin-top: 15px;
    margin-right: 0px;
  }

  .research1 i {
    border: 3px solid transparent;
    border-radius: 11px 0px 0px 11px;
    background-color: #f2f2f2;
    text-align: center;
    height: 34px;
    width: 50px;
    margin-top: 15px;
    padding-top: 5px;
    cursor: pointer;
  }

  .research1 button {
    background-color: white;
    border: 1px solid transparent;
  }

  .mglass i {
    border: 5px solid #0065fc;
    height: 40px;
    border-radius: 11px 11px 11px 11px;
    background-color: #0065fc;
    color: white;
    margin: 0px 0px -30px -30px;
    text-align: center;
    font-size: 16px;
  }

  .block_filters {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px 0px 0px 20px;
  }

  .filters {
    display: inline-block;
    width: 79%;
    margin: 10px 10px 20px 0px;
    justify-content: space-between;
  }

  .filters_title {
    padding-right: 8px;
  }

  .filters button {
    height: 35px;
    margin: 5px 2px 10px 0px;
  }

  .info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 20px;
  }

  #container1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
  }

  .box1 {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: column;
    background-color: white;
    padding: 0px 30px 0px 30px;
    width: 97%;
    height: 1400px;
    margin: 10px 0px 20px 0px;
  }

  .frame {
    width: 100%;
    height: 182px;
    box-shadow: 0px 0px 10px lightgray;
    flex-wrap: nowrap;
  }

  .plus {
    padding-left: 20px;
  }

  .title_box1 h2 {
    text-align: left;
    width: 95%;
    margin: 0px 0px 20px 10px;
    font-size: 16px;
  }

  .box2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: 650px;
    margin: 0px;
    border-radius: 0px;
  }

  .description {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px 0px 0px;
    height: 100%;
  }

  .frame2 {
    width: 100%;
    margin: 10px 0px 30px -10px;
    box-shadow: 0px 0px 10px lightgray;
  }

  .stars2 {
    font-size: 9px;
  }

  .headline2 {
    font-size: 14px;
    font-weight: bolder;
    width: 100%;
  }

  .title_box2 {
    font-size: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -10px;
    align-items: baseline;
  }
  .title_box2 i {
    text-align: right;
    font-size: 16px;
    position: relative;
    height: 100%;
  }

  .container_2 {
    width: 100%;
    height: 1300px;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .card_1,
  .card_3 {
    height: 180px;
    width: 85%;
  }

  .card_1 {
    margin-left: 0px;
  }
  .card_1 img,
  .card_3 img {
    height: 120px;
  }

  .card_2,
  .card_4 {
    width: 85%;
    height: 380px;
    margin: 5px 0px 5px 0px;
  }

  .card_2 img,
  .card_4 img {
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .frame4,
  .frame5 {
    height: 180px;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title_box3 {
    width: 85%;
    font-size: 11px;
    padding: 0px;
  }

  .headline3 {
    width: 100%;
    height: 20px;
  }

  .headline4,
  .headline5 {
    width: 100%;
    height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 20px;
  }

  .footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 450px;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 !important;
  }

  .part1,
  .part2,
  .part3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
    padding-left: 30px;
    margin: 0px;
    padding-top: 0px;
  }
}

@media only screen and (min-width: 2560px) {
  #block_page {
    margin: 0px 400px 0px 400px;
  }
}
